<form *ngIf="!isLoading" (ngSubmit) = "doSubmit()">
    <div class="form-group">
        <h2 class="heading">Reset Password</h2>
        <label for="password">Password</label>
        <input type="{{type0}}" class="floatLabel" name="password" [(ngModel)]="password"
        required minlength='8' pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
        <span class="fa fa-eye-slash a" (mouseup)="displayPassword(0)" (mousedown)="displayPassword(0)"></span>
        <label for="password_confirmation">Confirm Password</label>
        <input type="{{type1}}" class="floatLabel" name="password_confirmation" [(ngModel)]="passwordConfirm" (keyup)="checkMatch()"
         data-toggle="tooltip" data-placement="right" title="Password does not match!" required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
        <span class="fa fa-eye-slash b" (mouseup)="displayPassword(1)" (mousedown)="displayPassword(1)"></span>
        <div class="alert alert-danger" [hidden]="passwordMatch">
            <b>Passwords do not match.</b>
        </div>
    </div>

    <div class="form-group">
        <button type="submit">Reset Password</button>
    </div>
</form>
<div *ngIf="isLoading">
    <app-loading-indicator></app-loading-indicator>
</div>
