$main: #1E824C;
$shadow: #86E2D5;
$cascade: #95A5A6;

.form-group {
    width: 40%;
    margin: 0 auto;
    position: relative;

    h2 {
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        color: $main;
        border-bottom: 1px solid $main;
        padding-bottom: 3px;
        margin-bottom: 20px;
    }

    a {
        font-size: inherit;
        font-family: inherit;
        color: $main;
        text-decoration: none;
        transition: all 1s ease-out;

        &:hover {
            text-decoration: underline;
            color: lighten($main, 10%);
        }

        &:active {
            color: $cascade;
        }
    }

    label {
        font-size: 12.5px;
        color: $main;
        display: block;
        font-weight: 500;
        margin-bottom: 0.5em;
        margin-top: 1em;
        margin-left: 1em;
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
        font-family: inherit;
        font-size: inherit;
        color: #222;
        border: 1px solid $main;
        border-radius: 10px;
        height: 25px;
        padding: 0.2em;
        width: 100%;
        transition: all 0.2s;

        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 5px 0 $shadow;
        }
    }

    div {
        color: $main;
        font-size: 12.5px;
    }

    button {
        // display: block;
        border: 1px solid white;
        border-radius: 10px;
        background-color: $main;
        color: white;
        font-family: inherit;
        font-size: inherit;
        padding: 0.5em;
        width: 102%;
        transition: all 0.3s;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            outline: none;
            background-color: white;
            color: $main;
            font-weight: bold;
            border: 1.5px solid $main;
        }
    }

    span {
        position: absolute;
        top: 72%;
        left: 95%;
        color: #aaa;
        cursor: pointer;
    }
}
