<div *ngIf="isLoaded" class="col-md-2 nopadding haveborder">
<div class="month">
  <ul>
    <li style="text-align: center">
      {{monthName}}<br>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Mo</li>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
</ul>
<ul class="days">
  <li *ngFor="let date of dates; let i = index" (click)="onClickLi(i)">
    <span class="{{classli[i]}}">
      <span *ngIf="state[i]==1"><img src="../assets/img/passed.png"></span>
      <span *ngIf="state[i]==2"><img src="../assets/img/failed.png"></span>
      <span *ngIf="state[i]==0">{{date}}</span>
    </span>
    </li>
</ul>
</div>
