ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.haveborder{
    border: 1px solid white !important;
}
/* Month header */
.month {
    padding: 10px 10px;
    width: 100%;
    background: #1E824C;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.3s;
    &:hover{
      color: #D80027;
      cursor: pointer;
    }
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 12.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    height: 170px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 12.6%;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 3.3px;
    font-size:12px;
    color:#777;
    cursor: pointer;
    text-align: center;
    z-index: 1;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
}

img {
    max-width: 15%;
    height: auto;
}

@media screen and (min-width: 992px) {
    img { 
        max-width: 50%;
        height: auto;
    }
}
