<div [ngSwitch]="loading">
	<div *ngSwitchCase="'loading'">
		<app-loading-indicator></app-loading-indicator>
	</div>
	<div *ngSwitchCase="'loaded'">
		<form [formGroup]="createNewGoalForm" (ngSubmit)="addNewGoal()">
			<div class="form-group">
				<h2 class="heading">New goal</h2>
				<div class="left">
					<label for="goal-name">Goal name</label>
					<input autofocus formControlName="goal_name" type="text" id="goal-name" name="goal-name" required placeholder="What do you want to do...">
					<div class="alert" id="goal-name-alert" hidden>Goal name is required!</div>
				</div>
				<div class="right">
					<label for="from" class="fix">From</label>
					<input formControlName="start_date" type="datetime-local" id="start-date" name="start-date" (change)="changeMonthlyType()" value="{{roundUpTime() | date:'yyyy-MM-ddTHH:mm'}}" />
				</div>
				<div class="clear"></div>
				<label id="label-description" for="description">Description</label>
				<textarea rows='4' formControlName="description" type="textarea" id="description" name="description" required placeholder="Tell me more about your goal..."></textarea>
				<div class="left">
					<label id="label-repetition" for="repetition" class='fix'>Repetition</label>
					<select formControlName="type_of_repetition" class="repetition-type" id="repetition-type" (change)="changeRepetitionType()">
							<option *ngFor="let rp of repetitionTypes; let i = index;" value="{{i + 1}}">{{rp}}</option>
						</select >
					</div>
					<div class="right">
	                every&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input formControlName="how_often" type="number" min='1' class="inline-input" style="width: 10%; margin-top: 2.7em;"/>
	                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="repetitionFrequencyType">day(s)</span>
					</div>
					<div class="clear"></div>
					<div class="left" id="weeklyRepetition" hidden="hidden" style="margin-top: 2em;">
							<span *ngFor="let day of weekDays; let i = index;"><input type="checkbox" formControlName="day_of_week_{{day}}" name="{{day}}" value="{{i}}" /> {{day}} </span>
						</div>
				<div class="clear"></div>
				<div class="left" id="monthlyRepetition" hidden="hidden" style="margin-top: 2em;">
						<input type="radio" name="type_of_month" formControlName="type_of_month" value='1' /> on the same day each month
						<input type="radio" name="type_of_month" formControlName="type_of_month" value='2' /> on every <span id="dayDefineValue">first Monday</span>
				</div>
				<div class="clear"></div>

				<div class="left">
					<select formControlName="type_of_end_date" class="repetition-limited-time" id="repetition-limited-time" (change)="changeRepetitionLimitedTime()" style="margin-top: 2em;">
							<option *ngFor="let rlt of repetitionLimitedTimes; let i = index;" value="{{i + 1}}">{{rlt}}</option>
						</select>
				</div>
				<div class="right">
					<input type="date" formControlName="specific_end_date" id="until-date" hidden="hidden" value="{{untilDate() | date:'yyyy-MM-dd'}}" style="margin-top: 2em;" />
					<span id="number-events" hidden="hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" formControlName="number_of_event" min='1' style="width: 10%; margin-top: 2em;" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;event(s)</span>
				</div>
				<div class="clear"></div>
				<div class="left">
					<label id="reminders" for="reminders">Reminders</label>
					<div class="reminder-group" *ngFor="let item of timeBefores" id="{{item}}" hidden="hidden">
						<select [class.first]="item == 'time_before_1'" formControlName='{{item}}' id="select-{{item}}" name="{{item}}" class="time-before" (change)="changeToSetTime(item)">
									<option *ngFor="let time of remindersList; let i = index" value="{{i}}">{{time}}</option>
								</select><span class="fa fa-times" [class.first]="item == 'time_before_1'" style="float: right" (click)="showReminders(item)"></span>
								<input type="time" id="input-{{item}}" formControlName='{{item}}_t' hidden="hidden" value=""/>
					</div>
					<button type="button" name="addReminder" id="add-reminder" (click)="showReminders()" [hidden]="hiddenReminderButton">Add reminder</button>
				</div>
				<div class="right">
				</div>
				<div class="clear"></div>
				<div class="left">
					<input formControlName="autoUpdateFailed" type="checkbox" id="is-auto" name='is-auto' value="true" style="width: 5%;" style="margin-top: 2em;" />Auto update failed days.
				</div>
				<div class="clear"></div>
			</div>
			<div class="form-group">
				<div class="right" style="font-size: 16px;">
					<button type="button" (click)="addNewGoal()" class="right">Add goal</button>
					<div class="clear"></div>
				</div>
			</div>
		</form>
	</div>
</div>
