$main: #1E824C;
$shadow: #86E2D5;
$cascade: #95A5A6;

.form-group {
    width: 80%;
    margin: 0 auto;
    font-family: inherit;

    h2 {
        font-size: 26px;
        font-weight: 600;
        text-align: left;
        color: $main;
        border-bottom: 1px solid $main;
        padding-bottom: 3px;
        margin-bottom: 20px;
    }

    a {
        font-size: inherit;
        font-family: inherit;
        color: $main;
        text-decoration: none;
        transition: all 1s ease-out;

        &:hover {
            text-decoration: underline;
            color: lighten($main, 10%);
        }

        &:active {
            color: $cascade;
        }
    }

    label {
        font-size: 12.5px;
        color: $main;
        display: block;
        font-weight: 500;
        margin-bottom: 0.5em;
        margin-top: 1em;
        margin-left: 1em;
    }

    input[type="date"],
    input[type="datetime-local"],
    input[type="number"],
    input[type="password"],
    input[type="text"],
    input[type="time"],
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        color: #222;
        border: 1px solid $main;
        border-radius: 10px;
        font-size: inherit;
        height: 33px;
        padding: 0.2em;
        width: 100%;
        transition: all 0.2s;

        &:active,
        &:focus,
        &:hover {
            outline: none;
            box-shadow: 0 0 5px 0 $shadow;
        }
    }

    input[type="time"] {
        width: 90%;
        margin-top: 0.5em;
    }

    textarea {
        height: auto;
        // width: 100%;
    }

    select {
        // width: 100%;
        background-color: white;
        height: 32px;
        transition: all 0.2s;

        &.time-before {
            width: 90%;
            margin-top: 2em;

            &.first {
                margin-top: 0.5em;
            }
        }
    }

    .left {
        float: left;
        width: 45%;

        .alert {
            margin-bottom: 0.5em;
            margin-left: 1em;
            margin-top: 0.5em;
            font-weight: bold;
            color: #D80027;
        }

        .reminder-group {
            position: relative;

            span {
                position: absolute;
                top: 2.7em;
                right: 0;

                &.first {
                    top: 1.2em;
                }
            }
        }
    }

    .right {
        float: right;
        width: 45%;
    }

    .clear {
        clear: both;
    }

    div {
        color: $main;
        font-size: 12.5px;
    }

    button {
        // display: block;
        border: 1px solid white;
        border-radius: 10px;
        background-color: $main;
        color: white;
        font-family: inherit;
        font-size: inherit;
        padding: 0.5em;
        width: 2em;
        transition: all 0.3s;
        cursor: pointer;

        &:active,
        &:focus,
        &:hover {
            background-color: white;
            color: $main;
            font-weight: bold;
            border: 1.5px solid $main;
            outline: none;
        }

        &#add-reminder {
            width: 30%;
            background-color: white;
            color: $main;
            border: 1px solid $main;
            float: right;
            margin-top: 2em;

            &:focus,
            &:hover {
                background-color: #eee;
            }
        }
    }
}
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .form-group {
        width: 85%;

        button {
            &#add-reminder {
                width: 50%;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
    .form-group {
        width: 95%;

        button {
            width: 100% !important;

            &#add-reminder {
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .form-group {
        width: 100%;

        .right {
            width: 50%;
        }
    }
}
