$main: #1E824C;

p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.introduction {
    a {
        color: $main;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
    color: #eee;
    font-size: 28px;

    .welcome {
        position: relative;
        margin-top: 2em;
        border-bottom: 2px solid $main;
        padding: 1em 0.5em;
        transition: all 0.5s;

        p {
            float: left;
            margin-top: 1.5em;
        }

        img {
            float: right;
        }

        &:hover {
            background-color: rgba(0,0,0,0.4);
            box-shadow: 0 1px 1px $main;
            padding: 1.2em 0.6em;
        }
    }

    .info {
        border-bottom: 2px solid $main;
        position: relative;
        margin: 2em auto;
        padding: 1em 0.5em;
        transition: all 0.5s;

        img {
            float: left;
        }

        p {
            margin-top: 0.8em;
        }

        &:hover {
            background-color: rgba(0,0,0,0.4);
            box-shadow: 0 1px 1px $main;
            padding: 1.2em 0.6em;
        }
    }

    .logged-in {
        border-bottom: 2px solid $main;
        position: relative;
        margin: 2em auto;
        padding: 1em 0.5em;
        transition: all 0.5s;

        img {
            float: left;
        }

        p {
            margin-top: 1.6em;
        }

        &:hover {
            background-color: rgba(0,0,0,0.4);
            box-shadow: 0 1px 1px $main;
            padding: 1.2em 0.6em;
        }
    }

    .clear {
        clear: both;
    }
}
