$main: #1E824C;
$background: #eee;
$red: #D80027;

p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.introduction {
    hr {
        border-color: $main;
        background-color: $main;
        width: 50%;
        float: left;
        margin-top: 1em;
        transition: all 0.5s;
        // height: 2px;
    }

    a {
        color: lighten($main, 10%);
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
    color: black;
    font-size: 28px;

    .welcome {
        background: $background;
        position: relative;
        margin-top: 2em;
        // border-bottom: 2px solid $main;
        padding: 1em 0.5em;
        transition: all 0.5s;

        p {
            float: left;
            margin-top: 1.5em;
        }

        img {
            float: right;
        }

        &:hover {
            background-color: rgba(255,255,255,0.4);

            a {
                color: #D80027;
            }
            hr {
              width: 75%;
              border-color: $red;
              background-color: $red;
            }
        }
    }

    .info {
        background: $background;
        // border-bottom: 2px solid $main;
        position: relative;
        margin-top: 2em;
        padding: 1em 0.5em;
        transition: all 0.5s;

        img {
            float: left;
        }

        p {
            margin-top: 0.8em;
        }

        &:hover {
          background-color: rgba(255,255,255,0.4);

          a {
              color: #D80027;
          }
          hr {
            width: 75%;
            border-color: $red;
            background-color: $red;
          }
        }
    }

    .logged-in {
        background: $background;
        // border-bottom: 2px solid $main;
        position: relative;
        margin: 2em auto;
        padding: 1em 0.5em;
        transition: all 0.5s;

        img {
            float: left;
        }

        p {
            margin-top: 1.6em;
            float: right;
        }

        &:hover {
          background-color: rgba(255,255,255,0.4);

          a {
              color: #D80027;
          }
          hr {
            width: 75%;
            border-color: $red;
            background-color: $red;
          }
        }
    }

    .clear {
        clear: both;
    }
}

@media screen and (max-width: 1335px) and (min-width: 768px){
  .welcome{
    p{
      width: 80%;
      margin-top: 0.7em !important;
    }
  }
  .info {
    p{
      // float: right;
      // width: 65%;
      margin-top: 0 !important;
    }
    img {
      margin: 0 auto;
      margin-top: 0.7em;
    }
  }
    .logged-in{
      p {
        float: none !important;
        margin-top: 0 !important;
      }
    }
}
