$border: #c6c6c6;
$border-focus: #9FB1C1;
$aqua: #07B3A1;
$asphalt: #506982;

header {
	font-family: 'Lato', 'sans-serif';
	color: white;
	box-sizing: border-box;
	position: relative;

	h1 {
		float: left;
		// text-align: center;
		font-weight: 400;
		font-size: 50px;
		margin-left: 40px;
		margin-top: 0;
		margin-bottom: 0;
	}

	p {
		font-weight: 400;
		font-size: 16px;
		color: rgba(255,255,255,.9);
		letter-spacing: 0.05em;
		margin-bottom: 10px;
	}

	.user-information {
		float: right;
		margin: 20px 20px;

		a {
			text-decoration: none;
			color: $aqua;
			box-sizing: border-box;
			border-radius: 3px;
			background-color: white;
			padding: 10px 18px;
			font-size: 14px;
			margin: 0 10px;
			transition: background-color 0.2s;

			&:hover {
				background-color: #eff;
			}
		}
	}

	.clear {
		clear: both;
	}
}

section {
	router-outlet {
		display: block;
		padding-bottom: 25px;
	}
	font-family: 'Lato', 'sans-serif';
	color: $aqua;
	padding: 3em 100px;

	a {
		color: $aqua;
		border-bottom: 1px solid white;
		padding: 10px;
		margin: 10px;

		&:hover {
			text-decoration: none;
			color: #e74c3c;
		}
	}
}
#main, #header {
    transition: margin-left .3s;
    padding: 20px;
}
