<header id="header">
  <app-side-bar></app-side-bar>
  <h1><i class="fa fa-calendar-check-o"></i> {{title}}</h1>
  <div class="user-information">
    <!-- <a routerLink="/sign-up" routerLinkActive="active">Signup</a> -->
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
    <button  (click)="onClick('login')" id="login-button">Login</button>
    <button  (click)="onClick('signup')" id="signup-button">Sign Up</button>
    <p id="user-name">
    </p>
  </div>
  <div class="clear">
  </div>
</header>
<main id="main">
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
