<header id="header">
  <app-side-bar></app-side-bar>
  <h1><i class="fa fa-calendar-check-o"></i> {{title}}</h1>
  <div class="user-information">
    <!-- <a routerLink="/sign-up" routerLinkActive="active">Signup</a> -->
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
    <button  (click)="onClick('login')">Login</button>
    <button  (click)="onClick('signup')">Sign Up</button>
  </div>
  <div class="clear">
  </div>
</header>
<main id="main">
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
