#header,
#main {
	transition: margin-left 0.3s;
}
$main: #1E824C;
$shadow: #86E2D5;
$cascade: #95A5A6;

header {
	background-color: $main;
	font-family: 'Raleway', sans-serif;
	padding: 1em;
	color: white;

	.title-content {
		font-size: 2em;
		margin-left: 1em;
	}

	.title-button {
		float: right;
		position: relative;

		button {
			// display: block;
			border: 1px solid $main;
			border-radius: 10px;
			background-color: white;
			color: $main;
			font-family: inherit;
			font-size: inherit;
			padding: 0.5em;
			width: 6em;
			margin-left: 0.5em;
			transition: all 0.3s;

			&:hover,
			&:focus,
			&:active {
				outline: none;
				background-color: $main;
				color: white;
				font-weight: bold;
				border: 1px solid white;
			}

			&#signup {
				background: #ddd;
				color: $main;
				font-weight: normal;
			}
		}
	}
	a {
		color: white;
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: none;
			color: white;
		}
	}
}

.left {
	width: 45%;
}

.clear {
	clear: both;
}

main {
	section {
		margin: auto 4em;
		font-family: 'Raleway', sans-serif;
	}
}

.left {
	width: 45%;
}

.clear {
	clear: both;
}
