<form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <!--  General -->
    <div class="form-group">
        <h2 class="heading">Login</h2>
        <div class="controls">
            <input formControlName="email" type="email" id="email"
            class="floatLabel" name="email"
            (focus)="moveLabelUp('email')" (blur)="moveLabelDown('email')"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <label id="label-email" for="email">Email</label>
        </div>
        <div class="controls">
            <input formControlName="password" type="password" id="password"
            class="floatLabel" name="password"
            (focus)="moveLabelUp('password')" (blur)="moveLabelDown('password')" required minlength='8'>
            <label id="label-password" for="password">Password</label>
        </div>
        <div class="alert alert-danger" id="wrong-input" hidden>
          <b>Wrong username/password.</b>
        </div>
        <div class="controls">
          <a href="#">Forgot your password?</a>
        </div>
    </div>
    <!-- button -->
    <div class="form-group">
        <div class="controls">
            <div class="col-sm-6"><button type="button" class='reset'
              (click)="moveLabelAllDown()">Clear</button></div>
            <div class="col-sm-6"><button type="submit">Login</button></div>
        </div>
    </div>
</form>
