// Float label
$border: #c6c6c6;
$border-focus: #9FB1C1;
$blue: #077ABC;
$aqua: #07B3A1;
$asphalt: #506982;

a {
    text-decoration: none;
}

form {
    padding: 4em 10%;
}

.form-group {
    width: 60%;
    margin: 0 auto 20px;
}

h2.heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: left;
    color: $asphalt;
    border-bottom: 1px solid $asphalt;
    padding-bottom: 3px;
    margin-bottom: 20px;
}

.controls {
    text-align: left;
    position: relative;

    a {
        font-family: 'Lato', 'sans-serif';
        font-size: 14px;
        font-weight: 300;
        color: #bbb;

        &:focus,
        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }

    button,
    input[type="email"],
    input[type="password"],
    input[type="text"] {
        padding: 12px;
        font-size: 14px;
        border: 1px solid $border;
        width: 100%;
        margin-bottom: 18px;
        color: #888;
        font-family: 'Lato', 'sans-serif';
        font-size: 16px;
        font-weight: 300;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s;

        &:focus,
        &:hover {
            outline: none;
            border-color: $border-focus;

            + label {
                color: $blue;
                cursor: text;
            }
        }
    }

    label {
        position: absolute;
        left: 8px;
        top: 12px;
        color: #999;
        font-size: 16px;
        display: inline-block;
        padding: 1px 10px;
        font-weight: 400;
        background-color: rgba(255,255,255,0);
        pointer-events: none;
        transition: color 0.3s, top 0.3s, background-color 0.8s;

        &.active {
            top: -12px;
            color: #555;
            background-color: rgba(255,255,255,1);
        }
    }

    button {
        cursor: pointer;
        background-color: $aqua;
        border: none;
        color: #fff;
        padding: 12px 0;

        &:hover {
            background-color: darken($aqua, 10%);
        }
    }

    .reset {
        background-color: #ddd;

        &:hover {
            background-color: lighten(#666, 10%);
        }
    }

    i {
        color: #888;
        position: absolute;
        top: 1.1em;
        left: 95%;

        &:hover {
            cursor: pointer;
            color: $blue;
        }
    }
}
// .tooltip {
//     position: relative;
//     display: inline-block;
//     border-bottom: 1px dotted black;
//     .tooltiptext {
//         visibility: hidden;
//         width: 120px;
//         background-color: black;
//         color: #fff;
//         text-align: center;
//         border-radius: 6px;
//         padding: 5px 0;
//
//         /* Position the tooltip */
//         position: absolute;
//         z-index: 1;
//     }
// }
