<div [ngSwitch]="loading">
    <div *ngSwitchCase="'loading'">
        <app-loading-indicator></app-loading-indicator>
    </div>
    <div *ngSwitchCase="'loaded'">
        <div class="view">
            <div class="item">
                <div class="item1" *ngFor="let goal of goals; let i = index;">
                    <div class="goal-panel" id="item-{{goal.id}}" *ngIf="i % 2 == 0" style="float: left;">
                        <div class="goal-title">
                            <b id="title" (click)="displayMonthView(goal)">{{goal.goal_name}}</b>
                            <span class="tooltiptext">&nbsp;&nbsp;<a (click)="displayMonthView(goal)">Month view</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a (click)="displayYearView(goal)">Year view</a>&nbsp;&nbsp;</span>
                            <a style="margin-left:20px;" [routerLink]="['/editgoal',goal.id]"><img src="../assets/img/edit.svg" height="16" width="16"></a>
                            <div class="reminder"><span class="fa fa-clock-o"></span> {{goal.start_date.split('T')[1].substring(0, 5)}}</div>
                        </div>
                        <div class="clear"></div>
                        <div class="feature">
                            <input class="checking" type="checkbox" name="" value="{{goal.id}}" (change)="showContextMenu(goal.id)">
                            <span class="start-date">Start date: {{goal.start_date | date: 'yyyy, MMM dd'}}</span>
                            <div class="favorite" [class.color]="goal.is_favorite" id="fav-{{goal.id}}"><span class="fa fa-star" (click)="favorite(goal)"></span></div>
                        </div>
                        <div class="clear"></div>
                        <!-- <div class="description">
                    {{goal.description}}
                  </div> -->
                        <div class="goal-detail">
                            <span class="number-of-days-done">{{goal.current_chain}} day</span>
                            <span class="space"></span>
                            <span class="best-chain">{{goal.best_chain}} best</span>
                            <span class="space"></span>
                            <span class="passed-day-in-total">{{goal.progress}}</span>
                            <span class="space"></span>

                            <span class="type-of-repetition">
              <div [ngSwitch]="goal.repetition.type_of_repetition">
                <div *ngSwitchCase="1">Daily</div>
                <div *ngSwitchCase="2">Weekly</div>
                <div *ngSwitchCase="3">Monthly</div>
                <div *ngSwitchCase="4">Yearly</div>
                <div *ngSwitchDefault>Daily</div>
              </div></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="goal-panel" id="item-{{goal.id}}" *ngIf="i % 2 != 0" style="float: right;">
                        <div class="goal-title">
                            <b id="title" (click)="displayMonthView(goal)">{{goal.goal_name}}</b>
                            <span class="tooltiptext">&nbsp;&nbsp;<a (click)="displayMonthView(goal)">Month view</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a (click)="displayYearView(goal)">Year view</a>&nbsp;&nbsp;</span>
                            <a style="margin-left:20px;" [routerLink]="['/editgoal',goal.id]"><img src="../assets/img/edit.svg" height="16" width="16"></a>
                            <div class="reminder"><span class="fa fa-clock-o"></span> {{goal.start_date.split('T')[1].substring(0, 5)}}</div>
                        </div>
                        <div class="clear"></div>
                        <div class="feature">
                            <input class="checking" type="checkbox" name="" value="{{goal.id}}" (change)="showContextMenu(goal.id)">
                            <span class="start-date">Start date: {{goal.start_date | date: 'yyyy, MMM dd'}}</span>
                            <div class="favorite" [class.color]="goal.is_favorite" id="fav-{{goal.id}}"><span class="fa fa-star" (click)="favorite(goal)"></span></div>
                        </div>
                        <div class="clear"></div>
                        <!-- <div class="description">
                    {{goal.description}}
                  </div> -->
                        <div class="goal-detail">
                            <span class="number-of-days-done">{{goal.current_chain}} day</span>
                            <span class="space"></span>
                            <span class="best-chain">{{goal.best_chain}} best</span>
                            <span class="space"></span>
                            <span class="passed-day-in-total">{{goal.progress}}</span>
                            <span class="space"></span>

                            <span class="type-of-repetition">
              <div [ngSwitch]="goal.repetition.type_of_repetition">
                <div *ngSwitchCase="1">Daily</div>
                <div *ngSwitchCase="2">Weekly</div>
                <div *ngSwitchCase="3">Monthly</div>
                <div *ngSwitchCase="4">Yearly</div>
                <div *ngSwitchDefault>Daily</div>
              </div></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <a routerLink="/createnewgoal" class="float">
                <i class="fa fa-plus my-float"></i>
            </a>
            <div class="label-container">
                <div class="label-text">New goal</div>
                <i class="fa fa-play label-arrow"></i>
            </div>
            <a (click)="showSortMenu()" class="float1" [hidden]="goals.length == 0">
                <i class="fa fa-sort my-float"></i>
            </a>
            <div class="label-container1">
                <div class="label-text">Sort</div>
                <i class="fa fa-caret-left fa-2x label-arrow1"></i>
            </div>
        </div>
        <div class="no-goal" [hidden]="goals.length != 0">
            <img src="../../assets/img/oops.png" alt="welcome" width="120px" style="vertical-align: middle;">
            <p>Opps! No goals. <a routerLink="/createnewgoal">Let's challenge yourself!</a></p>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="context-menu" class="modal">
    <div class="modal-content">
        <div class="modal-body">
            <!-- <span class="close" (click)="openModal(false)">&times;</span> -->
            <span class="fa fa-trash icon" style="color: #D80027;"></span> <span class="text" style="color: #D80027;" (click)="showDeleteMenu()">Delete</span>
            <span class="space"></span>
            <span class="fa fa-archive icon"></span> <span class="text" (click)="archiveGoals()">Archive</span>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div id="sort-modal" class="modal" (mouseleave)="showSortMenu()">
    <div class="modal-content">
        <div class="modal-body sort">
            <div class="close1" (click)="showSortMenu()">Close &times;</div>
            <span class="title"><b>Sort by</b></span>
            <span class="space"></span>
            <input type="radio" id="date-created" name="sort-type" value="1" [checked]="sortType == 1" (change)="sort()"> <span>Day created</span>
            <span class="space"></span>
            <input type="radio" id="name" name="sort-type" value="2" [checked]="sortType == 2" (change)="sort()"> <span>Name</span>
            <span class="space"></span>
            <input type="radio" id="start-date" name="sort-type" value="3" [checked]="sortType == 3" (change)="sort()"> <span>Start time</span>
            <span class="space"></span>
            <input type="radio" id="frequecy" name="sort-type" value="4" [checked]="sortType == 4" (change)="sort()"> <span>Frequency</span>
            <span class="space"></span>
            <input type="radio" id="current-chain" name="sort-type" value="5" [checked]="sortType == 5" (change)="sort()"> <span>Current chain</span>
            <span class="space"></span>
            <input type="radio" id="best-chain" name="sort-type" value="6" [checked]="sortType == 6" (change)="sort()"> <span>Best chain</span>
            <span class="space"></span>
            <input type="radio" id="ratio" name="sort-type" value="7" [checked]="sortType == 7" (change)="sort()"> <span>Ratio</span>
            <span class="space"></span>
            <input type="checkbox" id="reverse-order" name="reverse" value="0" [checked]="isReversed" (change)="sort()"> <span>Reverse</span>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
<div id="notification-delete" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" style="font-size: 8px;"(click)="showDeleteMenu()">&times;</span>
        </div>
        <div class="modal-body">
            <p style="font-size: 16px;">Do you really want to delete your goal(s)?</p>
            <button type="button" name="button" id="ok" (click)="deleteGoals()">Ok</button>
            <button type="button" name="button" (click)="showDeleteMenu()">Cancel</button>
        </div>
    </div>
</div>
<div id="deleting" class="modal-x">
    <div class="modal-content">
        <app-loading-indicator></app-loading-indicator>
    </div>
</div>
