$main: #1E824C;

.view {
    margin: 2em auto;
    position: relative;

    .goal-panel {
        width: 44%;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        margin: 1em 1.5em;
        padding: 0.5em;
        border-bottom: 1.5px solid $main;
        transition: all 0.2s;

        &:hover {
            background-color: #eee;
        }

        .goal-title {
            margin-bottom: 2em;

            &:hover {
                cursor: pointer;
            }

            #title {
                font-size: 16px;
                float: left;
                margin-left: 1.6em;
            }

            .reminder {
                float: right;
            }
        }

        .feature {
            margin-top: 0.2em;

            #check {
                float: left;
            }

            .start-date {
                margin-left: 0.5em;
            }

            .favorite {
                color: #ddd;
                float: right;

                &.color {
                    color: #D80027;
                }

                &:hover {
                  box-shadow: 1px 1px 1px #ddd;
                  cursor: pointer;
                }
            }
        }

        .description {
            margin: 0.2em 0 0.2em 2em;
        }

        .goal-detail {
            margin-left: 2em;

            span {
                display: inline-block;
            }

            .number-of-days-done,
            .type-of-repetition {
                width: 13%;
            }

            .best-chain,
            .passed-day-in-total {
                text-align: center;
                width: 20%;
            }

            .space {
                width: 9.5%;
            }

            .type-of-repetition {
                text-align: right;
                float: right;
            }
        }

        .clear {
            clear: both;
        }
    }

    a {
        &.float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: $main;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            transition: all 0.3s;
        }

        &:hover {
            box-shadow: 2px 2px 4px #555;
        }
    }

    .my-float {
        margin-top: 22px;
    }

    .label-container {
        position: fixed;
        bottom: 48px;
        right: 105px;
        display: table;
        visibility: hidden;
    }

    .label-text {
        color: #FFF;
        font-weight: bold;
        background: $main;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        border-radius: 3px;
    }

    .label-arrow {
        display: table-cell;
        vertical-align: middle;
        color: $main;
        opacity: 1;
    }

    a.float + div.label-container {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.5s ease-in-out;
    }

    a.float:hover + div.label-container {
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 1239px) {
    .view {
        .goal-panel {
            width: 100%;
            float: none !important;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 470px) {
    // TODO
}
