$main: #1E824C;

.view {
    margin: 2em auto;

    .goal-panel {
        width: 44%;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        margin: 1em 1.5em;
        padding: 0.5em;
        border-bottom: 1.5px solid $main;

        .goal-title {
          margin-bottom: 2em;
            #title {
              font-size: 16px;
                float: left;
                margin-left: 1.6em;
            }

            .reminder {
                float: right;
            }
        }

        .feature {
          margin-top: 0.2em;
            #check {
                float: left;
            }
            .start-date {
              margin-left: 0.5em;
            }

            .favorite {
                float: right;
            }
        }

        .description {
          margin-left: 2em;
        }

        .goal-detail {
            margin-left: 2em;

            span {
                display: inline-block;
            }

            .number-of-days-done,
            .type-of-repetition {
                width: 13%;
            }

            .best-chain,
            .passed-day-in-total {
                text-align: center;
                width: 20%;
            }

            .space {
                width: 9.5%;
            }

            .type-of-repetition {
                text-align: right;
                float: right;
            }
        }

        .clear {
            clear: both;
        }
    }
}
@media screen and (max-width: 1239px) {
    .view {
        .goal-panel {
            width: 100%;
            float: none !important;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 470px){
  // TODO
}
