div,
label,
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
$main: #1E824C;

.view {
    margin: 2em auto;
    position: relative;

    .goal-panel {
        width: 44%;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        margin: 1em 1.5em;
        padding: 0.5em;
        border-bottom: 1.5px solid $main;
        transition: all 0.2s;
        // &:hover {
        //     background-color: #eee;
        // }
        .goal-title {
            position: relative;
            margin-bottom: 2em;

            .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: white;
                color: $main;
                text-align: center;
                padding: 5px 0;
                border-radius: 10px;
                border: 1px solid $main;
                position: absolute;
                left: 2em;
                width: 13em;
                top: 1.5em;
                z-index: 1;

                a {
                    color: $main;
                    text-decoration: none;
                    background: none;
                    box-shadow: none;

                    &:active,
                    &:focus,
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                cursor: pointer;

                .tooltiptext {
                    visibility: visible;
                }
            }

            #title {
                font-size: 16px;
                float: left;
                margin-left: 1.6em;
            }

            .reminder {
                float: right;
            }
        }

        .feature {
            margin-top: 0.2em;

            #check {
                float: left;
            }

            .start-date {
                margin-left: 0.5em;
            }

            .favorite {
                color: #ddd;
                float: right;

                &.color {
                    color: #D80027;
                }

                &:hover {
                    box-shadow: 1px 1px 1px #ddd;
                    cursor: pointer;
                }
            }
        }

        .description {
            margin: 0.2em 0 0.2em 2em;
        }

        .goal-detail {
            margin-left: 2em;

            span {
                display: inline-block;
            }

            .number-of-days-done,
            .type-of-repetition {
                width: 13%;
            }

            .best-chain,
            .passed-day-in-total {
                text-align: center;
                width: 20%;
            }

            .space {
                width: 9.5%;
            }

            .type-of-repetition {
                text-align: right;
                float: right;
            }
        }

        .clear {
            clear: both;
        }
    }

    a {
        &.float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 30px;
            right: 15px;
            background-color: $main;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            transition: all 0.3s;
        }

        &.float1 {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 30px;
            left: 15px;
            background-color: $main;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            transition: all 0.3s;
        }

        &:hover {
            box-shadow: 2px 2px 4px #555;
        }
    }

    .my-float {
        margin-top: 22px;
    }

    .label-container {
        position: fixed;
        bottom: 40px;
        right: 105px;
        display: table;
        visibility: hidden;
    }

    .label-container1 {
        position: fixed;
        bottom: 40px;
        left: 105px;
        display: table;
        visibility: hidden;
    }

    .label-text {
        color: #FFF;
        font-weight: bold;
        background: $main;
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        border-radius: 3px;
    }

    .label-arrow {
        display: table-cell;
        vertical-align: middle;
        color: $main;
        opacity: 1;
    }

    .label-arrow1 {
        display: table-cell;
        vertical-align: middle;
        color: $main;
        opacity: 1;
        position: absolute;
        left: -10px;
        top: 7px;
        opacity: 1;
    }

    a.float + div.label-container {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.5s ease-in-out;
    }

    a.float:hover + div.label-container {
        visibility: visible;
        opacity: 1;
    }

    a.float1 + div.label-container1 {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.5s ease-in-out;
    }

    a.float1:hover + div.label-container1 {
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 10%;
    overflow: auto;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

    .modal-content {
        border-radius: 0;
        border-top: 1px solid $main;
        position: fixed;
        bottom: 0;
        background-color: #eee;
        width: 100%;
        box-shadow: 0 -2px 7px #777;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;

        .modal-header {
            padding: 2px 16px;
            background-color: $main;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
            align: center;

            .icon {
                color: $main;
                margin: 0.5em 0 0.5em 6.5em;
            }

            .text {
                color: $main;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            button {
                // display: block;
                border: 1px solid $main;
                border-radius: 10px;
                background-color: $main;
                color: white;
                font-family: inherit;
                font-size: inherit;
                padding: 0.5em;
                width: 6em;
                margin-left: 0.4em;
                transition: all 0.3s;

                &:active,
                &:focus,
                &:hover {
                    outline: none;
                    background-color: white;
                    color: $main;
                    font-weight: bold;
                    border: 1px solid $main;
                }

                &#ok {
                    background: #ddd;
                    color: $main;
                    font-weight: normal;
                    margin-left: 20em;

                    &:active,
                    &:focus,
                    &:hover {
                        outline: none;
                        background-color: white;
                    }
                }
            }

            .space {
                width: 3em;
            }

            &.sort {
                padding: 20px 16px;

                input {
                    color: $main;
                }

                div.close1 {
                    color: $main;
                    font-size: 12px;
                    font-weight: bold;
                    float: right;
                    margin-right: 2em;

                    &:focus,
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                span {
                    color: $main;
                    display: inline-block;

                    .space {
                        width: 3em;
                    }
                }
            }
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: $main;
            color: white;
        }
    }
}
/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-x {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 270px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fff;

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border-radius: 10px;
        width: 40%;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.5s;
        animation-name: animatetop;
        animation-duration: 0.5s;

        .modal-header {
            padding: 2px 8px;
            background-color: $main;
            color: white;
            border-radius: 10px 10px 0 0;

            p {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .modal-body {
            padding: 2px 16px;
            color: $main;
            font-size: 18px;
        }

        .modal-footer {
            padding: 2px 8px;
            background-color: $main;
            color: white;
            border-radius: 0 0 10px 10px;
            font-size: 14px;
        }
    }
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:focus,
    &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.no-goal {
    a {
        color: $main;
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
    color: #222;
    font-size: 24px;
    position: relative;
    margin: 2em auto;
    padding: 1em 0.5em;
    transition: all 0.5s;

    img {
        float: left;
        margin-right: 1em;
    }

    p {
        margin-top: 1.7em;
    }

    .clear {
        clear: both;
    }
}
@media screen and (max-width: 1365px) and (min-width: 768px) {
    .view {
        .goal-panel {
            width: 100%;
            float: none !important;
            margin: 0 auto;
        }

        .label-container,
        .label-container1 {
            display: none;
        }

        a {
            &.float,
            &.float1 {
                width: 40px;
                height: 40px;
                bottom: 15px;
            }
        }

        .my-float {
            margin-top: 13px;
        }
    }

    #sort-modal {
        .modal-content {
            .modal-body {
                &.sort {
                    font-size: 12px;
                    padding: 10px 2px;

                    .close1 {}

                    span {
                        width: 47%;

                        &.space {
                            display: none;
                        }

                        &.title {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) and (min-width: 375px) {
    .view {
        .goal-panel {
            font-size: 12px;
            width: 100%;
            float: none !important;
            margin: 0 auto;

            .goal-title {
                #title {
                    width: 56%;
                    font-size: 12px;
                }
            }

            .goal-detail {
                display: none;
            }
        }

        a {
            &.float,
            &.float1 {
                width: 30px;
                height: 30px;
                bottom: 15px;
            }
        }

        .my-float {
            margin-top: 8px;
        }

        .label-container,
        .label-container1 {
            display: none;
        }
    }

    #sort-modal {
        .modal-content {
            .modal-body {
                &.sort {
                    font-size: 12px;
                    padding: 10px 2px;

                    .close1 {
                        float: right;
                        margin-right: 2em;
                        font-size: 12px;
                    }

                    span {
                        width: 44%;

                        &.space {
                            display: none;
                        }

                        &.title {
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
    #notification-delete {
      .modal-body {
        p {
          font-size: 12px !important;
        }
        button {
          font-size: 12px;
          width: 5em;
          &#ok {
            margin-left: 17em;
          }
        }
      }
    }
}
