* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
$main: #1E824C;

.item {
    width: 60%;
    align: center;
    font-family: inherit;
    position: relative;
    margin: 2em auto;
    border: 1px solid $main;
    border-radius: 10px;

    .month {
        padding: 30px 25px;
        width: 100%;
        // background: #ccc;
        ul {
            margin: 0;
            padding: 0;

            li {
                color: $main;
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }

        .prev {
            float: left;
            padding-top: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        .next {
            float: right;
            padding-top: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: $main;

        li {
            display: inline-block;
            width: 13.6%;
            color: white;
            text-align: center;
        }
    }

    .days {
        // background: #eee;
        margin: 0 auto;
        padding: 0.9em 0.9em 0.5em;
        position: relative;

        li {
            list-style-type: none;
            display: inline-block;
            width: 13.8%;
            font-size: 15px;
            text-align: center;
            margin-bottom: 5px;
            padding: 2em 0;
            color: black;
            transition: all 0.2s ease-in-out;

            &.active {
                font-weight: bold;
            }

            &.hide {
                display: none;
            }

            &.hide-background {
                background-color: white;
            }
            @mixin x {
                background-clip: border-box;
                background-size: 50%;
                text-align: left;
            }

            &.fail,
            &.pass {
                background: url('../../img/passed.png') no-repeat center;
                @include x;
            }

            &.fail {
                background: url('../../img/failed.png') no-repeat center;
                @include x;
            }
        }
    }
}
@media screen and (max-width: 500px) and (min-width: 200px)  {
  .item {
    width: 80%;
  }
}
@media screen and (max-width: 800px) and (min-width: 500px)  {
  .item {
    width: 60%;
  }
}
